<div class="admin-navbar">
    <h3>BANK ADMIN</h3>
    <a style="background-color: black; text-decoration: none; color: #ffffff; padding: 8px 20px; border-radius: 5px;" href="/admin/logout">logout</a>
</div>