<div class="side-bar" id="side-bar">
    <div class="nav-adjust"></div>
    <a class="side-bar-item" href="/admin/account">Accounts</a>
    <a style="position: relative;" class="side-bar-item" href="/admin/user">Users <span
            style="border: 2px solid white; border-radius: 50%; position: absolute; right: 0; top: 0; width: 20px; height: 20px; text-align: center;">
            <%= users.length %>
        </span></a>
    <a class="side-bar-item" href="/admin/rejected">Rejected</a>
</div>