<div class="side-bar" id="side-bar">
    <div class="nav-adjust"></div>
    <h3> <%=user.username %></h3>
    <a class="side-bar-item" href="/" id="home">Home</a>
    <a class="side-bar-item" href="/upi" id="upi">UPI</a>
    <a class="side-bar-item" href="/people" id="people">people</a>
    <a class="side-bar-item" href="/transaction" id="transaction">Transaction</a>
    <a class="side-bar-item" href="/logout">logout</a>
</div>