* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.nav-style {
    width: 100%;
    background-color: #0F4C81;
    padding: 30px;
    position: fixed;
    top: 0;
    z-index: 100;
}

/* signup */

.signup {
    width: 100%;
    color: #0f1012;
    background-color: #333746;
    height: 100vh; 
    display: flex; 
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;

    button{
        width: 100%;
        padding: 10px;
        background-color: #333746;
        border: none;
    }

    button:hover{
        background-color: #0f1012;
        transition: .3s ease-in-out;
        border-radius: 10px;
        color: #E0E0E0;
    }

}

/* login */

.login {
    width: 100%;
    color: #0f1012;
    background-color: #333746;
    height: 100vh; 
    display: flex; 
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;

    button{
        width: 100%;
        padding: 10px;
        background-color: #333746;
        border: none;
    }

    button:hover{
        background-color: #0f1012;
        transition: .3s ease-in-out;
        border-radius: 10px;
        color: #E0E0E0;
    }
}

/* home */

.custom-input{
    width: 100%;
    padding: 0;
    margin: 0;
}

.form-custom{
    width: 100%; 
    padding: 20px 200px; 
    margin-top: 100px;
}
